In [15]:
import pandas as pd
import numpy as np

In [53]:
%pwd

'C:\\cakd7\\m1_programing'

In [3]:
df_si = pd.read_csv('../../Users/SANGYUN/Desktop/si_shp.csv', encoding='utf-8')
df_si.head()

,WKT,CTPRVN_CD,CTP_ENG_NM,CTP_KOR_NM
0,MULTIPOLYGON (((966987.225863826 1941110.94614...,11,Seoul,서울특별시
1,MULTIPOLYGON (((1146778.38995499 1679623.99921...,26,Busan,부산광역시
2,MULTIPOLYGON (((1087859.99870678 1760097.46106...,27,Daegu,대구광역시
3,MULTIPOLYGON (((897904.03462436 1961082.190119...,28,Incheon,인천광역시
4,MULTIPOLYGON (((932712.68744766 1696168.691795...,29,Gwangju,광주광역시

In [84]:
si_cd = np.array(df_si['CTPRVN_CD']).tolist()
si_nm = np.array(df_si['CTP_ENG_NM']).tolist()

for i in range(len(df_si)):
    df_si.iloc[[i],:].to_csv('../../Users/SANGYUN/Desktop/sigudong/shp_'+ si_nm[i] +'_si.csv')

In [85]:
df_si.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WKT         17 non-null     object
 1   CTPRVN_CD   17 non-null     object
 2   CTP_ENG_NM  17 non-null     object
 3   CTP_KOR_NM  17 non-null     object
dtypes: object(4)
memory usage: 672.0+ bytes

In [83]:
df_si['CTPRVN_CD'] = df_si['CTPRVN_CD'].astype(str)

In [60]:
df_gu = pd.read_csv('../../Users/SANGYUN/Desktop/gu_shp.csv', encoding='utf-8')
df_gu.head()

,WKT,SIG_CD,SIG_ENG_NM,SIG_KOR_NM
0,MULTIPOLYGON (((956615.453242448 1953567.19896...,11110,Jongno-gu,종로구
1,MULTIPOLYGON (((957890.385681809 1952616.74556...,11140,Jung-gu,중구
2,MULTIPOLYGON (((953115.761089407 1950834.08363...,11170,Yongsan-gu,용산구
3,MULTIPOLYGON (((959681.109391748 1952649.60479...,11200,Seongdong-gu,성동구
4,MULTIPOLYGON (((964825.057949812 1952633.24962...,11215,Gwangjin-gu,광진구

In [65]:
df_gu['CTPRVN_CD'] = (df_gu['SIG_CD']/1000).astype(np.int64)
df_gu = pd.merge(df_gu, df_si[['CTPRVN_CD', 'CTP_ENG_NM', 'CTP_KOR_NM']], how = 'left')
for i in range(len(df_si)):
    df_gu.loc[df_gu['CTPRVN_CD']==si_cd[i],:].to_csv('../../Users/SANGYUN/Desktop/sigudong/shp_' + si_nm[i] + '_sigu.csv')

In [2]:
df_dong = pd.read_csv('../../Users/SANGYUN/Desktop/dong_shp.csv', encoding='utf-8')
df_dong.head()

,WKT,EMD_CD,EMD_ENG_NM,EMD_KOR_NM
0,MULTIPOLYGON (((953700.022134754 1954605.06543...,11110101,Cheongun-dong,청운동
1,MULTIPOLYGON (((953233.465431754 1953996.98393...,11110102,Singyo-dong,신교동
2,MULTIPOLYGON (((953560.228143052 1954257.46648...,11110103,Gungjeong-dong,궁정동
3,MULTIPOLYGON (((953519.843411395 1953890.78473...,11110104,Hyoja-dong,효자동
4,MULTIPOLYGON (((953516.123431045 1953734.36201...,11110105,Changseong-dong,창성동

In [4]:
df_dongman = df_dong[df_dong['EMD_CD']//1000000==11]
df_dongman.to_csv('../../Users/SANGYUN/Desktop/dongman.csv')

In [68]:
df_dong['SIG_CD'] = (df_dong['EMD_CD']/1000).astype(np.int64)
df_dong = pd.merge(df_dong, df_gu[['SIG_CD', 'SIG_ENG_NM','SIG_KOR_NM']], how='left')
df_dong['CTPRVN_CD'] = (df_dong['EMD_CD']/1000000).astype(np.int64)
df_dong = pd.merge(df_dong, df_si[['CTPRVN_CD','CTP_ENG_NM','CTP_KOR_NM']], how='left')
df_dong.head()

,WKT,EMD_CD,EMD_ENG_NM,EMD_KOR_NM,SIG_CD,SIG_ENG_NM,SIG_KOR_NM,CTPRVN_CD,CTP_ENG_NM,CTP_KOR_NM
0,MULTIPOLYGON (((953700.022134754 1954605.06543...,11110101,Cheongun-dong,청운동,11110,Jongno-gu,종로구,11,Seoul,서울특별시
1,MULTIPOLYGON (((953233.465431754 1953996.98393...,11110102,Singyo-dong,신교동,11110,Jongno-gu,종로구,11,Seoul,서울특별시
2,MULTIPOLYGON (((953560.228143052 1954257.46648...,11110103,Gungjeong-dong,궁정동,11110,Jongno-gu,종로구,11,Seoul,서울특별시
3,MULTIPOLYGON (((953519.843411395 1953890.78473...,11110104,Hyoja-dong,효자동,11110,Jongno-gu,종로구,11,Seoul,서울특별시
4,MULTIPOLYGON (((953516.123431045 1953734.36201...,11110105,Changseong-dong,창성동,11110,Jongno-gu,종로구,11,Seoul,서울특별시

In [69]:
for i in range(len(df_si)):
    df_dong.loc[df_dong['CTPRVN_CD']==si_cd[i],:].to_csv('../../Users/SANGYUN/Desktop/sigudong/shp_' + si_nm[i]+ '_sigudong.csv',)

In [91]:
df_dong.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5054 entries, 0 to 5053
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WKT         5054 non-null   object
 1   EMD_CD      5054 non-null   int64
 2   EMD_ENG_NM  5054 non-null   object
 3   EMD_KOR_NM  5054 non-null   object
 4   SIG_CD      5054 non-null   int64
 5   SIG_ENG_NM  5054 non-null   object
 6   SIG_KOR_NM  5054 non-null   object
 7   CTPRVN_CD   5054 non-null   int64
 8   CTP_ENG_NM  5054 non-null   object
 9   CTP_KOR_NM  5054 non-null   object
dtypes: int64(3), object(7)
memory usage: 434.3+ KB

In [87]:
df_si = pd.read_csv('../../Users/SANGYUN/Desktop/Seoulsi.csv', encoding='utf-8')
df_gu = pd.read_csv('../../Users/SANGYUN/Desktop/Seoulsigu.csv', encoding='utf-8')
df_dong = pd.read_csv('../../Users/SANGYUN/Desktop/Seoulsigudong.csv', encoding='utf-8')

In [88]:
df_si.head()

,Unnamed: 0,WKT,CTPRVN_CD,CTP_ENG_NM,CTP_KOR_NM
0,0,MULTIPOLYGON (((966987.225863826 1941110.94614...,11,Seoul,서울특별시

In [90]:
df_si=df_si.drop('Unnamed: 0',axis=1)
df_gu=df_gu.drop('Unnamed: 0',axis=1)
df_dong=df_dong.drop('Unnamed: 0',axis=1)

In [93]:
df_si.to_csv('../../Users/SANGYUN/Desktop/sigudong/Seoul_si.csv')
df_gu.to_csv('../../Users/SANGYUN/Desktop/sigudong/Seoul_sigu.csv')
df_dong.to_csv('../../Users/SANGYUN/Desktop/sigudong/Seoul_sigudong.csv')

In [16]:
df_si = pd.read_csv('../../Users/SANGYUN/Desktop/sigudong2/si.csv', encoding='utf-8')
df_si

,WKT,CTPRVN_CD,CTP_ENG_NM,CTP_KOR_NM
0,MULTIPOLYGON (((966987.225863826 1941110.94614...,11,Seoul,서울특별시

In [ ]:
df_dong = pd.read_csv('../../Users/SANGYUN/Desktop/Seoulsigudong.csv', encoding='utf-8')