In [3]:
# csv
import numpy as np
import pandas as pd
ar1 = np.arange(10).reshape(2,5)
df = pd.DataFrame(ar1, columns=list('abcde'))
df.to_csv('dataset/test.csv')

In [5]:
df = pd.read_csv('dataset/test.csv', index_col=0)
df

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [7]:
# json  딕셔너리 형태
df1 = df.copy()
df1.to_json('dataset/test1.json')
df1_json = pd.read_json('dataset/test1.json')
df1_json

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [9]:
# 바이너리 파일 읽고 쓰기   메모리 수요가 줄어듬 
df2 = df.copy()
df2.to_pickle('dataset/test2.pkl')  # 바이너리임 메모장으로 읽으면 깨짐
df2_pkl = pd.read_pickle('dataset/test2.pkl')
df2_pkl

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [17]:
# 엑셀 파일 
!pip install openpyxl
df = pd.read_excel('dataset/auto-mpg.xlsx')
df.head()

Requirement already satisfied: openpyxl in c:\users\sangyun\anaconda3\envs\cakd7\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\sangyun\anaconda3\envs\cakd7\lib\site-packages (from openpyxl) (1.1.0)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [19]:
# mpg 연비 갤런당 마일
# displacement 배기량 
df.corr()  # 상관관계 구하는 함수

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [20]:
df.info()  # 각 컬럼의 데이터타입

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [27]:
df.horsepower.unique() # unique() 중복빼고 유일값만 나타내줌

array([130, 165, 150, 140, 198, 220, 215, 225, 190, 170, 160, 95, 97, 85,
       88, 46, 87, 90, 113, 200, 210, 193, '?', 100, 105, 175, 153, 180,
       110, 72, 86, 70, 76, 65, 69, 60, 80, 54, 208, 155, 112, 92, 145,
       137, 158, 167, 94, 107, 230, 49, 75, 91, 122, 67, 83, 78, 52, 61,
       93, 148, 129, 96, 71, 98, 115, 53, 81, 79, 120, 152, 102, 108, 68,
       58, 149, 89, 63, 48, 66, 139, 103, 125, 133, 138, 135, 142, 77, 62,
       132, 84, 64, 74, 116, 82], dtype=object)

In [21]:
df.isnull().sum() #.sum()   널값 갯수

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
#회귀 분류 강화